/* Font: Inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui";

* {
  font-family: "Inter", sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));
html,
body {
  background-color: white;
  color: #111827;
}

.dark body {
  background-color: #1d232a;
  color: white;
}

/* Leaflet */
@import "leaflet/dist/leaflet.css";

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-text-fill-color: #404042 !important;
  transition: background-color 5000s ease-in-out 0s;
}
.dark input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #2c2c2f inset !important;
  -webkit-text-fill-color: #fff !important;
}
